.h2 {
    margin-bottom: 1.5rem;
}
.section {
    margin-bottom: 5rem;
}
.title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}